/*Global Styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #278883;
  --white: #fff;
  --black: #1c2b2d;;
  --grey: #eee;
  --dark-grey: #383a3d;
}

html{
  font-size: 10px;
}

body{
  background-color:var(--grey);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.container{
  width: 95%;
  margin: auto;
}

ul{
  list-style: none;
}

h1{
  font-size: 1.7rem;
}

a{
  text-decoration: none;
  color: var(--white);
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.divider{
  position: relative;
  margin-top: 70px;
}

/*styles for the nabar*/
.navbar{
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: var(--white);
  padding: 10px 0;
}

.navbar h2{
  display: inline-block;
}

.navbar .fa-bars{
  font-size: 2.5rem;
  padding: 0 10px;
  display: none;
  cursor: pointer;
}

.navbar p{
  font-size: 1.5rem;
}

/*Sidebar*/
.sidebar{
  background-color: var(--dark-grey);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition: .5s;
}

.sidebar ul li{
  padding: 10px;
}

.fa-times{
  float: right;
  font-size: 4rem;
  color: var(--white);
  padding: 10px;
  display: none !important;
  cursor: pointer;
}

/* Styles for the profile image nested in sidebar*/

.profile{
  display: flex;
  align-items: center;
  padding: 80px 10px 30px 10px;
  color: var(--white);
}

.profile-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.name{
  padding: 10px;
}

.name h4{
  font-size: 1.4rem;
  text-align: center;
}

.name h6{
  font-size: 1.2rem;
  text-align: center;
}

ul li a, ul li a .fa{
  font-size: 1.3rem;
}

ul li a .fa{
  padding-right:10px;
}

.active{
  background-color: var(--black);
  border-left: 3px solid green;
}

/*Styles for the main content*/
main{
  margin-left: 250px;
  margin-bottom: 20px;
}

/*Header*/
.header{
  background-color: var(--white);
  padding: 35px 36px;
}

.header h1{
  font-size: 2rem;
}

.header span, .header .fa{
  font-size: 1.4rem;
}

/*Main Content*/
.main-content{
  margin-top: 50px;
}
.card{
  width: 100%;
  height: 120px;
  background-color: var(--white);
  text-align: center;
  padding: 20px;
}

.card img{
  width: 50px;
  padding-top: 10px;
}

.card h3{
  font-size: 1.3rem;
  color: var(--primary-color);
}


/*Media quires for the responsivness of the webpage*/

@media (max-width: 1100px) {
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

}


@media (max-width: 700px) {
  .grid{
    grid-template-columns: 1fr 1fr;
  }

  .sidebar{
    margin-left: -250px;
    z-index: 100;
  }

  main{
    margin-left: 0;
  }

  .navbar .fa-bars, .fa-times{
    display: inline-block !important;
  }
}

@media (max-width: 450px) {
  .grid{
    grid-template-columns: 1fr;
  }
}

