/*Global Styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #278883;
  --white: #fff;
  --black: #1c2b2d;;
  --grey: #eee;
  --dark-grey: #222831;
}

html{
  font-size: 10px;
}

body{
  background-color:var(--grey);
}

.container{
  width: 90%;
  margin: auto;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}